body{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    background-color: #0a0a23;
}

.img{
    width: 22%;
    min-width: 200px;
}

.title{
    text-align: center;
    margin: 0;
    font-size: 2.8rem;
}

.container{
    padding: 0px 50px;
    gap: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mensage{
    text-align: center;
    font-size: 1.4rem;
    background-color: #00471b;
    max-width: 400px;
    width: 60%;
    min-width: 250px;
    border-radius: 20px;
    font-weight: 500;
    padding: 20px;
}

.content{
    margin: 0;
}

#check-btn{
    background-color: #5a01a7;
    color: white;
    border: 0;
    border-radius: 15px;
    padding: 10px 25px;
}

#text-input{
    border: 0;
    border-bottom: 2px solid #5a01a7;
    width: 60%;
    text-align: center;
    font-size: 1.1rem;
}

.box{
    max-width: 400px;
    width: 60%;
    min-width: 250px;
    padding: 20px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    box-shadow: 0 6px 6px #002ead;
}

.text-info{
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.flex{
    gap: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#result{
    min-height: 0px;
    max-height: 80px;
    height: 40%;
    width: 340px;
    overflow: auto;
    margin-top: 18px;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px){
    .title{
        font-size: 2rem;
    }

    .text-info{
        text-align: center;
        font-size: 1.1rem;
        margin-bottom: 20px;
    }

    #result{
        min-height: 0px;
        max-height: 75px;
        height: 40%;
        width: 250px;
        overflow: auto;
        margin-top: 18px;
        font-size: 1.5rem;
    }
}